<section id="contact" class="background2 section-padding">
  <div class="container">
    <div class="row mb30">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
        <h2>Contactez-moi</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin scaleReveal">Our team is from all over the world and we know how to deliver quality pixels from miles away.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-lg-4">
        <h5 class="heading-1 mb20">Visit Us</h5>
        <h4 class="mb15">Magog, Québec</h4>
        <p class="no-margin text-xs-small">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates. Temporibus autem quibusdam et aut.</p>
        <hr class="mini-hr">
        <p class="text-xs-small mb5"><strong class="text-switch">Courriel:</strong> info@pierluc.io</p>
        <p class="text-xs-small mb5"><strong class="text-switch">Téléphone:</strong> 819 640-9651</p>
      </div>
      <div class="col-sm-6 col-lg-7 mt30-xs">
        <form data-toggle="validator" id="contactForm" name="contactForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="controls">
                  <input type="text" id="name" name="name" placeholder="Prénom et nom" required="" data-error="Veuillez entrer votre prénom et votre nom." class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="row mb10">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="controls">
                  <input type="email" id="email" name="email" placeholder="Adresse courriel" required="" data-error="Veuillez entrer votre adresse courriel." class="email form-control">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="controls">
                  <textarea rows="5" id="message" name="message" placeholder="Message" required="" data-error="Veuillez entrer votre message." class="form-control"></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt15">
            <div class="col-sm-8">
              <div id="msgSubmit" class="h4 hidden mt10 no-margin-bottom"></div> 
            </div>
            <div class="col-sm-4 text-right">
              <button type="submit" id="submit" class="btn btn-default btn-lg">Envoyer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
