<section id="contact" class="background2 section-padding">
  <div class="container">
    <div class="row mb30">
      <div class="col-xs-12 section-title text-center">
        <h2>Contactez-moi</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin scaleReveal">Pour un travail de qualité, bâti sur de solides fondations &mdash; à un coût qui vous convient.</p>
		<p class="text-xs-small mb5"><strong class="text-switch">Courriel:</strong> info@pierluc.io</p>
      </div>
    </div>
  </div>
</section>
