<footer class="background1 footer-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <span class="icon-handle-streamline-vector logo"></span>
        <h2 class="theme-title">pierluc<span class="theme-title-smaller">.io</span></h2>
        {% include icon-github.html username=site.github_username %}
        {% include icon-twitter.html username=site.twitter_username %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-small text-center">
        <hr>
        <button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Haut</button>
        <p class="no-margin">&copy; Pier-Luc Gendreau</p>
      </div>
    </div>
  </div>
</footer>
