<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#contact" data-id="contact" class="btn btn-default navbar-btn visible-xs-inline-block scroll-link">Contactez-moi</a>
          <a class="navbar-brand" href="/"><img src="{{ "/logo-light-alpha-40x40.png" | prepend: site.asseturl }}" width="40" height="40"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home" data-id="home" class="scroll-link">Pier-Luc</a></li>
            <li><a href="#services" data-id="services" class="scroll-link">Stratégie</a></li>
            <li><a href="#work" data-id="work" class="scroll-link">Réalisations</a></li>
            <li><a href="#technologies" data-id="technologies" class="scroll-link">Technologies</a></li>
            <li><a href="#contact" data-id="contact" class="scroll-link">Contactez-moi</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
