<a href="https://stackoverflow.com/users/{{ include.username }}" class="icon">
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFIAAABhCAMAAAByHAaqAAAABlBMVEX///9BQUHMIzvLAAAAAXRSTlMAQObYZgAAAOFJREFUeAHt2MFtxDAQQ9H5/TedBgjaEhkki51/Fh9k+Ka5DKYc0BehDJZNaJvk5Jp9cs0aSd2EtqmmGSm3JCa0TaibGDO4pkZZ05AG1SY1kw82p2USmfPrJqcmPJvHJOSmmDZNeIf6035mL+pFteKdOQci8MKcQxKezHmIM9RjVvVmjhry+vu1mKFazFEtBqgWM1ST+e//QrTxKHBNuuP3otnckt71oiONm5PCjUXBBqQoR3N2IjJw/ejKFYggdV3SuBOQwg1IWU7qclL3RyQHLbnkJ5JBfXLJJfOWXPLfkz+zrgv9kV8mPQAAAABJRU5ErkJggg==">
</a>
