<div class="jumbotron jumbotron-main" id="home">
  <div id="particles-js"></div><!-- /.particles div -->
  <div class="container center-vertically-holder">
    <div class="center-vertically">
      <div id="scaleReveal" class="col-sm-12 text-center">
        <h1 class="mb20">
          Coming <strong>Soon</strong>.
        </h1>
        <div id="clock"></div>
        <a href="#contact" data-id="contact" class="scroll-link btn btn-default btn-white btn-lg mt40">Send us a message <span class="ion-android-arrow-down"></span></a>
      </div>
    </div>
  </div>
</div>