<div class="jumbotron jumbotron-main{% if include.jumbotron == 'mini' %} jumbotron-mini{% endif %}" id="home">
  <div id="particles-js"></div>
  <div class="container center-vertically-holder">
    <div class="center-vertically">
      <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 text-center">
        <h1>
          <strong>Pier-Luc</strong>,<br>votre spécialiste en
          <div class="ticker">
            <span>développement</span>
            <span>infrastructure</span>
            <span>performance</span>
          </div>
          Web.
        </h1>
        {% if include.jumbotron != 'mini' %}
        <hr>
        <a href="#hello-intro" data-id="hello-intro" class="scroll-link mt15"><i class="jumbotron-icon pe-7s-bottom-arrow"></i></a>
        <hr>
        {% endif %}
      </div>
    </div>
  </div>
</div>
