<div class="jumbotron jumbotron-main" id="home">
  <div id="particles-js"></div>
  <div class="container center-vertically-holder">
    <div class="center-vertically">
      <div id="scaleReveal" class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 text-center">
        <span class="icon-handle-streamline-vector big-logo"></span>
        <h1 style="margin-bottom: 0px;" class="scaleReveal">
          <strong>Pier-Luc</strong>,<br>votre spécialiste en
          <div class="ticker">
            <span>planification</span>
            <span>infrastructure</span>
            <span>développement</span>
          </div>
          Web.
        </h1>
        <hr>
        <a href="#work" data-id="work" class="scroll-link btn btn-default btn-white btn-lg mt15">Services <span class="ion-android-arrow-down"></span></a>
      </div>
    </div>
  </div>
</div>
