<section id="work" class="background1 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Réalisations</h2>
        <span class="section-divider"></span>
      </div>
    </div>
    <div class="row">
      <!-- Item 1 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="services-box">
          <i class="pe-7s-wristwatch services-icon"></i>
          <h3 class="service-name">Sport Chrono</h3>
          <p class="text-small">Modernisation du système de chronométrage sportif, service d'inscription et de paiement en ligne sécuritaire, résultats de course détaillés.</p>
          <button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item1-services">Détails</button>
        </div>
      </div>
      <div class="modal fade" id="item1-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <i class="pe-7s-wristwatch services-icon-2"></i>
              <h4 class="service-title">Sport Chrono</h4>
            </div>
            <div class="modal-body">
              <p>Modernisation du système de chronométrage sportif, service d'inscription et de paiement en ligne sécuritaire, résultats de course détaillés.</p>
              <h5 class="heading-1 modal-heading mb20">Technologies</h5>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 2 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mt30-xs">
        <div class="services-box">
          <i class="pe-7s-piggy services-icon"></i>
          <h3 class="service-name">generosa</h3>
          <p class="text-small">Plateforme de don en ligne conçu pour les organismes de toutes tailles et individus souhaitant amasser des fonds pour une cause personelle.</p>
          <button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item2-services">Détails</button>
        </div>
      </div>
      <div class="modal fade" id="item2-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <i class="pe-7s-piggy services-icon-2"></i>
              <h4 class="service-title">generosa</h4>
            </div>
            <div class="modal-body">
              <p>Plateforme de don en ligne conçu pour les organismes de toutes tailles et individus souhaitant amasser des fonds pour une cause personelle.</p>
              <h5 class="heading-1 modal-heading mb20">Technologies</h5>
              <ul class="list-arrow list-arrow-color text-small">
                <li><strong>Angular.js</strong> - cadre d'applications Web</li>
                <li><strong>Node.js</strong> - serveur Web JavaScript propulsé par V8</li>
                <li><strong>GitHub</strong> - contrôle de source</li>
                <li><strong>Modulus</strong> - plateforme de déploiement</li>
                <li><strong>MongoDB</strong> - base de données orientée documents (NoSQL)</li>
                <li><strong>Cloudflare</strong> - réseau de diffusion de contenu (CDN)</li>
                <li><strong>New Relic</strong> - suivi de disponibilité et performance</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 3 -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mt30-xs">
        <div class="services-box">
          <i class="pe-7s-science services-icon"></i>
          <h3 class="service-name">pierluc.io</h3>
          <p class="text-small">Le site Web sur lequel vous vous trouvez est une simple page statique et surtout une vitrine technologique offrant une architecture dernier cri.</p>
          <button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item3-services">Détails</button>
        </div>
      </div>
      <div class="modal fade" id="item3-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <i class="pe-7s-science services-icon-2"></i>
              <h4 class="service-title">pierluc.io</h4>
            </div>
            <div class="modal-body">
              <p>Le site Web sur lequel vous vous trouvez est une simple page statique et surtout une vitrine technologique offrant une architecture dernier cri.</p>
              <p>Cette infrastructure comporte plusieurs avantages : déploiement et mises à jour en un clic, temps de chargement rapide, aucun point de défaillance unique et un faible coût d'opération.</p>
              <h5 class="heading-1 modal-heading mb20">Technologies</h5>
              <ul class="list-arrow list-arrow-color text-small">
                <li><strong>Jekyll</strong> - générateur de site statique</li>
                <li><strong>GitHub</strong> - contrôle de source</li>
                <li><strong>Docker Cloud</strong> - déploiement de conteneurs</li>
                <li><strong>Azure</strong> - équilibrage de charge, machines virtuelles et stockage</li>
                <li><strong>haproxy</strong> - terminaison SSL/TLS et proxy</li>
                <li><strong>nginx</strong> - serveur Web</li>
                <li><strong>Cloudflare</strong> - réseau de diffusion de contenu (CDN)</li>
                <li><strong>Apex Ping</strong> - suivi de disponibilité et performance</li>
              </ul>
              <hr>
              <p><a href="https://github.com/Zertz/pierluc.io">Code source disponible sur GitHub</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
