<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ "/js/particles.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/particlesRun.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/form-validator.min.js" | prepend: site.baseurl }}"></script>  
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
