<section id="services" class="background2 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Services</h2>
        <span class="section-divider"></span>
      </div>
    </div>
  </div>
  <div id="our-process">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="process-intro">
            <h3 class="process-number">01</h3>
            <div><span class="process-icons pe-7s-users"></span></div>
            <h2 class="mt15 mb20">Planification</h2>
            <p class="no-margin">La plus cruciale des étapes dans le démarrage d'un projet solide, asseyons-nous ensemble pour analyser vos besoins et définissons la meilleure stratégie pour arriver à vos fins.</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="process-intro">
            <h3 class="process-number">02</h3>
            <div><span class="process-icons pe-7s-diamond"></span></div>
            <h2 class="mt15 mb20">Infrastructure</h2>
            <p class="no-margin">Afin d'assurer une fiabilité maximale et une gestion administrative minimale, vos applications seront établies sur les épaules des géants &mdash; à un prix adapté à vos besoins.</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
          <div class="process-intro">
            <h3 class="process-number">03</h3>
            <div><span class="process-icons pe-7s-rocket"></span></div>
            <h2 class="mt15 mb20">Développement</h2>
            <p class="no-margin">Votre projet vous appartient et grâce à l'utilisation d'outils ouverts et de techniques modernes, le code sera toujours entre vos mains &mdash; extensible, testé et documenté.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
