<section id="services" class="background2 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Services</h2>
        <span class="section-divider"></span>
      </div>
    </div>
  </div>
  <div id="our-process">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="process-intro">
            <h3 class="process-number">01</h3>
            <div><span class="process-icons pe-7s-users"></span></div>
            <h2 class="mt15 mb20">Planification</h2>
            <p class="no-margin">Nullam suscipit, massa id tempor ullamcorper, lacus felis ac, id vulputate daui risus porta libero.</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="process-intro">
            <h3 class="process-number">02</h3>
            <div><span class="process-icons pe-7s-diamond"></span></div>
            <h2 class="mt15 mb20">Infrastructure</h2>
            <p class="no-margin">Nullam suscipit, massa id tempor ullamcorper, lacus felis ac, id vulputate daui risus porta libero.</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
          <div class="rightReveal">
            <div class="process-intro">
              <h3 class="process-number">03</h3>
              <div><span class="process-icons pe-7s-rocket"></span></div>
              <h2 class="mt15 mb20">Développement</h2>
              <p class="no-margin">Nullam suscipit, massa id tempor ullamcorper, lacus felis ac, id vulputate daui risus porta libero.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
