<section id="services" class="background2 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Stratégie</h2>
        <span class="section-divider"></span>
      </div>
    </div>
  </div>
  <div id="our-process">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="process-intro">
            <h3 class="process-number">01</h3>
            <div><span class="process-icons pe-7s-users"></span></div>
            <h2 class="mt15 mb20">Planification</h2>
            <p class="no-margin">L'étape la plus cruciale dans le démarrage d'un projet solide, commençons par s'asseoir ensemble pour analyser vos besoins et définissons une feuille de route pour arriver à vos fins de manière efficace &mdash; à un prix adapté à vos besoins.</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="process-intro">
            <h3 class="process-number">02</h3>
            <div><span class="process-icons pe-7s-diamond"></span></div>
            <h2 class="mt15 mb20">Développement</h2>
            <p class="no-margin">Afin d'assurer une fiabilité maximale et une gestion minimale, vos applications seront établies sur des technologies développées par les leaders de l'industrie et adoptées par la communauté Web &mdash; vous aurez les mains libres.</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
          <div class="process-intro">
            <h3 class="process-number">03</h3>
            <div><span class="process-icons pe-7s-rocket"></span></div>
            <h2 class="mt15 mb20">Lancement</h2>
            <p class="no-margin">Grâce à l'utilisation d'outils ouverts et de techniques de développement itératives et modernes, le résultat sera non seulement une application Web adaptative, mais aussi une plateforme extensible, stable et à l'épreuve du temps.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
