<section id="technologies" class="section-padding parallax-window our-count" data-image-src="/images/technologies.jpg">
  <div class="container">
    <div class="row mb15">
      <div class="section-title col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <h2>Technologies</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin">Un ensemble d'outils libres, en constante évolution, conçus par les leaders de l'industrie, assurant un support de qualité &mdash; à long terme.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 item">
        <div class="circle-hold mb15">
          <div class="circle-hold-bg" title="MongoDB" style="background-image: url({{ "/mongodb-logo.png" | prepend: site.asseturl }});"></div>
        </div>
        <p class="no-margin"><strong>MongoDB</strong> est la base de données par excellence pour les applications Web malléables en constante évolution.</p>
      </div>
      <div class="col-sm-6 col-md-4 item mt30-xs">
        <div class="circle-hold mb15">
          <div class="circle-hold-bg" title="Node.js" style="background-image: url({{ "/nodejs-logo.png" | prepend: site.asseturl }});"></div>
        </div>
        <p class="no-margin">Avec un croissance fulgurante ces dernières années, <strong>Node.js</strong> est reconnu pour sa rapidité de développement inégalée.</p>
      </div>
      <div class="col-sm-6 col-md-4 item mt30-xs mt30-sm">
        <div class="circle-hold mb15">
          <div class="circle-hold-bg" title="Angular" style="background-image: url({{ "/angular-logo.png" | prepend: site.asseturl }});"></div>
        </div>
        <p class="no-margin">Développé par Google, <strong>Angular</strong> propulsent les interfaces Web modernes avec une expérience utilisateur supérieure.</p>
      </div>
      <div class="col-sm-6 col-md-4 item mt30-xs mt30-sm">
        <div class="circle-hold mb15">
          <div class="circle-hold-bg" title="Bootstrap" style="background-image: url({{ "/bootstrap-logo.png" | prepend: site.asseturl }});"></div>
        </div>
        <p class="no-margin">Bâti en HTML5 et CSS3, <strong>Bootstrap</strong> est le meneur dans le développement de pages adaptatives, parfaites tant sur mobile qu'au bureau.</p>
      </div>
      <div class="col-sm-6 col-md-4 item mt30-xs mt30-sm">
        <div class="circle-hold mb15">
          <div class="circle-hold-bg" title="Ionic Framework" style="background-image: url({{ "/ionic-logo.png" | prepend: site.asseturl }});"></div>
        </div>
        <p class="no-margin">Bâti en HTML5 et CSS3, <strong>Bootstrap</strong> est le meneur dans le développement de pages adaptatives, parfaites tant sur mobile qu'au bureau.</p>
      </div>
      <div class="col-sm-6 col-md-4 item mt30-xs mt30-sm">
        <div class="circle-hold mb15">
          <div class="circle-hold-bg" title="Firebase" style="background-image: url({{ "/firebase-logo.png" | prepend: site.asseturl }});"></div>
        </div>
        <p class="no-margin">Bâti en HTML5 et CSS3 et le meneur dans le développement de pages adaptatives, parfaites tant sur mobile qu'au bureau.</p>
      </div>
    </div>
  </div>
</section>
