<section id="technologies" class="section-padding parallax-window our-count" data-image-src="/images/technologies.jpg">
  <div class="container">
    <div class="row mb15">
      <div class="section-title col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <h2>Technologies</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin">Un ensemble d'outils libres, en constante évolution, conçus par les leaders de l'industrie, assurant un support de qualité &mdash; à long terme.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 item leftReveal">
        <div class="circle-hold">
          <div class="circle-hold-bg" style="background-image: url(https://webassets.mongodb.com/_com_assets/cms/mongodb-logo-rgb-j6w271g1xn.jpg);"></div>
        </div>
        <h2 class="timer mb5" data-from="1" data-to="4321" data-refresh-interval="20">MongoDB</h2>
        <p class="no-margin">La base de données par excellence pour les applications Web malléables où les besoins changent sans cesse.</p>
      </div>
      <div class="col-sm-6 col-md-4 item mt30-xs rightReveal">
        <div class="circle-hold">
          <div class="circle-hold-bg" style="background-image: url(https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png);"></div>
        </div>
        <h2 class="timer mb5" data-from="1" data-to="15381" data-refresh-interval="20">Node.js</h2>
        <p class="no-margin">Avec un croissance fulgurante ces dernières années, Node est reconnu pour sa rapidité de développement inégalée.</p>
      </div>
      <div class="col-sm-6 col-md-4 item mt30-xs mt30-sm leftReveal">
        <div class="circle-hold">
          <i class="pe-7s-coffee"></i>
        </div>
        <h2 class="timer mb5" data-from="1" data-to="17" data-refresh-interval="20">Angular</h2>
        <p class="no-margin">Développé par Google, Angular propulsent les interfaces Web modernes avec une expérience utilisateur supérieure.</p>
      </div>
      <div class="col-sm-6 col-md-4 item mt30-xs mt30-sm rightReveal">
        <div class="circle-hold">
          <i class="pe-7s-coffee"></i>
        </div>
        <h2 class="timer mb5" data-from="1" data-to="921" data-refresh-interval="20">Bootstrap</h2>
        <p class="no-margin">Bâti en HTML5 et CSS3 et le meneur dans le développement de pages adaptatives, parfaites tant au bureau que sur la route.</p>
      </div>
      <div class="col-sm-6 col-md-4 item mt30-xs mt30-sm rightReveal">
        <div class="circle-hold">
          <i class="pe-7s-coffee"></i>
        </div>
        <h2 class="timer mb5" data-from="1" data-to="921" data-refresh-interval="20">Ionic</h2>
        <p class="no-margin">Bâti en HTML5 et CSS3 et le meneur dans le développement de pages adaptatives, parfaites tant sur mobile qu'au bureau.</p>
      </div>
      <div class="col-sm-6 col-md-4 item mt30-xs mt30-sm rightReveal">
        <div class="circle-hold">
          <i class="pe-7s-coffee"></i>
        </div>
        <h2 class="timer mb5" data-from="1" data-to="921" data-refresh-interval="20">Firebase</h2>
        <p class="no-margin">Bâti en HTML5 et CSS3 et le meneur dans le développement de pages adaptatives, parfaites tant sur mobile qu'au bureau.</p>
      </div>
    </div>
  </div>
</section>
