article {
    margin: 0 auto;
    max-width: 719px;
}

article blockquote {
    font-size: 16px;
}

article h3 {
    border-bottom: 1px dotted #cecece;
    font-weight: 300;
    margin: 40px 0 25px;
    padding-bottom: 5px;
}

article hr {
    border-color: #cecece;
    border-style: dotted;
    border-width: 1px;
    margin: 50px 0;
}

article hr:last-of-type {
    border-style: solid;
}

article p {
    text-align: justify;
}