%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.icon {
    &:hover, &:focus {
        text-decoration: none;
    }

    > svg, > img {
        display: inline-block;
        width: 28px;
        height: 28px;
        vertical-align: middle;

        path {
            fill: #414141;
        }
    }
}

ul.list-horizontal {
    list-style-type: none;
    padding: 0;
}

ul.list-horizontal > li {
    display: inline-block;
    margin-right: 8px;
}

ul.list-horizontal > li:last-child {
    margin-right: 0;
}
