%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

ul.list-horizontal {
    list-style-type: none;
    padding: 10px 0 0;
}

ul.list-horizontal > li {
    display: inline-block;
    margin-right: 8px;
}

ul.list-horizontal > li:last-child {
    margin-right: 0;
}
