---
layout: default
jumbotron: mini
hello: hide
---

<section id="services">
  <div id="our-process-title" class="pt30 pb30">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h4 class="no-margin">{{ page.date | date : '%Y-%m-%d' }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div id="our-process">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 process-box text-center pt50 pb50">
          <article class="process-intro">
            <h3 class="process-number">{{ page.title }}</h3>
            <h4>
              {% for category in page.categories %}
              <span class="label label-info">{{ category | downcase }}</span>
              {% endfor %}
            </h4>
            {{ content }}
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
